- name: "Hipchat"
  description: "Notify Ansible Tower Channel in Hipchat"
  organization: 3
  notification_type: "hipchat"
  notification_configuration:
    message_from: "Tower"
    api_url: "https://delawarenorth.hipchat.com"
    color: purple
    use_tls: false
    notify: true
    use_ssl: false
    token: "{{ hipchat_token }}"
    rooms:
    - "4543254"
